body {
    text-align: center;
    background-color: burlywood;
  }
  
  img {
    width: 50%;
    height: 30%; 
    opacity: 75%;
    border: 8px solid black;
  }
  
  #img1 {
    text-align: center;
    zoom: 1.25;
  }
  
  #img1:hover {
    zoom: 1;
  }
  
  h1 {
    text-align: center;
    color: brown;
  }
  
  h2 {
    color: black;
  }
  
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
  }